/* semantic color variables for this project */
:root {
  --background-color: #292827;
  --color-text: #444444;

  --background-color-light: #f6f3ee;
  --color-text-light: #444444;

  --color-text-placeholder: #bbb2a1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  background: var(--background-color);
  color: var(--color-text);
}

input,
select,
td,
button,
textarea {
  background-color: var(--background-color-light);
  color: var(--color-text);
}

body,
input,
select,
td,
button,
textarea {
  line-height: 1.6;
  font-family:
    "GT America",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
